* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
dt,
dd,
p {
    cursor: default;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: #eee;
    font-family: PingFang SC,Helvetica,STHeiti,Microsoft YaHei,Verdana,Arial,Tahoma,sans-serif;
    min-width: 1080px;
}